body,
div,
header,
footer,
section,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
main {
  padding: 0;
  margin: 0;
}
body {
  background: #222;
  line-height: 1.7;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}
a:hover,
a.active {
  color: #bac964 !important;
}
.header {
  background: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7) !important;
}
ul {
  list-style: none;
}
ul.links li {
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
 .header-active {
  display: none;
}
.hamburger {
  display: none;
}
@media (max-width:480px)
{
  .header {
    position: relative;
    display: flex;
    padding: 10px 15px;
  }
  ul.links {
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    transition: all 0.4s ease-in-out;
    height: 0;
    z-index: 50;
    overflow: hidden;
    
  }
  .mobile:hover .links {
    height: 250px !important;
  }
  ul.links li {
    display: block;
  }
  .mobile {
    display: block;
    margin-left: auto;
  }
  .hamburger {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
  }
  .header-active {
    margin-right: auto;
    display: block;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #bac964 !important;
    padding: 5px;
  }
}
.banner {
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 70px;
  font-weight: 200;
  flex-direction: column;
}
.banner-cover strong {
  font-weight: 800;
  display: block;
}
.banner-cover .text-footer {
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5) !important;
  text-transform: uppercase !important;
  line-height: 1.7;
  font-size: 16px;
  font-weight: bolder;
}
.section {
  padding: 5em 0;
}
.heading {
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
  color: #fff;
}
.portfolio {
  display: flex;
  margin: 20px auto;
  max-width: 80%;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .portfolio-col {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .portfolio-col {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .portfolio-col {
    width: 33%;
  }
}
.portfolio-col {
  padding: 10px 20px;
}
.card img {
  width: 100%;
  height: auto;
  display: block !important;
  margin-bottom: 15px;
  transition: 0.3s;
}
.card:hover img {
  opacity: 0.7;
}
.capt {
  text-align: center;
}
.footer {
  padding: 3em 0;
  text-align: center;
}

/* contact page */

.contact-main {
  display: flex;
  flex-wrap: wrap;
}
.contact-main .sect {
  width: 100%;
}
@media (min-width: 768px) {
  .contact-main .sect {
    width: 50%;
  }
}
.form-inp {
  margin-bottom: 15px;
  padding: 0 30px;
}
.form-inp input,
textarea {
  display: block;
  background-color: #333;
  border: none !important;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
}
.form-inp input {
  height: calc(2.25rem + 2px);
}

.form-inp button {
  background-color: #bac964;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  padding: 1rem 1.5rem;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
}
.form-inp button:hover {
  opacity: 0.8;
}
ul.contact-details {
  list-style: none;
}
ul.contact-details li {
  margin-bottom: 20px;
}
ul.contact-details li > span {
  font-size: 12px;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  display: block;
  text-transform: capitalize;
}
.contact-wrap {
  margin: 0 30px;
}

/* Blog */
.blog-card {
  background-color: #333;
  position: relative;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  height: 100%;
}
.blog-card:hover {
  top: -3px;
}
.blog-card img {
  width: 100%;
  height: auto;
}
.blog-body {
  padding: 30px;
}
.blog-body h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #fff;
}

/* site report */

.report-wrap {
  display: flex;
  flex-wrap: wrap;
}
.report-main {
  width: 100%;
  padding: 30px;
  background-color: #333;
}
.report-main img {
  width: 100%;
}
.report-main .heading {
  color: #fff;
}
.report-main a {
  color: orange;
}
.report-aside {
  width: 100%;
  padding: 30px;
}
@media (min-width: 768px) {
  .report-main {
    width: 70%;
  }
  .report-aside {
    width: 30%;
  }
}
.report-title {
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  border-bottom: 3px solid #bac964;

  margin-bottom: 20px;
}
.main {
  max-width: 1200px;
  margin: 50px auto;
}
.meta {
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}
.meta a {
  color: #fff;
}
.meta i {
  margin-right: 5px;
}
.meta-time {
  margin-right: 20px;
}
.report-main p {
  margin-bottom: 20px;
}
.socials {
  padding: 10px 20px;
}
.socials a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.socials i {
  font-size: 50px;
}
